@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */


  *, ::after, ::before{
    font-family: 'Lato', monospace;
  }
  body{
    background-color: #B4CA65;
    color:#fff;
  }